html {
  background-color: #e2e2e247;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  font-family: "Roboto", serif;
}

.page-title,
.page-desc {
  text-align: center;
}

.content1,
.content2,
.content3 {
  display: none;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
}

.content2 {
  position: relative;
}

.content3 > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content3 p {
  margin: 0;
}

input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #bfbfbf;
  padding: 6px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.tab-control:checked + label {
  background-color: rgb(230, 246, 255);
}

.tab-control {
  margin: 0;
}

div:has(#tab1:checked) ~ div .content1 {
  display: block;
}

div:has(#tab2:checked) ~ div .content2 {
  display: block;
}

div:has(#tab3:checked) ~ div .content3 {
  display: block;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tab-container {
  align-self: center;
}

.content-container {
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  font-size: 13px;
}

.img-tut {
  width: 100%;
  height: auto;
}

.step-title {
  font-weight: bold;
  font-size: 16px;
}

li::marker {
  font-size: 16px;
  font-weight: bold;
}

.contact {
  text-align: center;
}
